/*INDEX.HTML*/

html{
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
}
  
::-webkit-scrollbar-thumb:hover {
    background: white; 
}

.ind {
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

#thumbnail-ind {
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,1);
}
  
.fullCard-ind {
    width: 748px;
    border-radius: 5px;
    margin: auto;
    padding: 4px;
}

.cardContent-ind {
    padding: 10px;
}
.cardText-ind {
    line-height: 1.6;
    display: block;
    text-decoration: none;
    font-family: 'Concert One', cursive;
    font-size: 21px;
    color: rgb(233, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
    text-align: justify;
}

.dashcard-ind {
    border: none;
    height: 20px;
 	width: 60%;
	height: 50px;
	margin-top: 0;
	box-shadow: 0 20px 20px -20px #ffffff;
    margin: -55px auto 10px;
}

.accordion-ind1 {
    width: 470px;
    max-height: 200px;
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,1);
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    position: absolute;
    top: 1800px;
    left: 530px;
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

  
.accord-ind1{
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
}

.accordion-content-ind1 {
    padding: 14px 20px;
}
  
.accordion-label-ind1 {
    display: block;
    color: rgba(255,255,255,0.8);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 14px 20px;
    text-align: center;
}
  
.accordion-label-ind1:hover {
    background-color: rgba(255,255,255,0.8);
    color:black;
    transition: 0.4s;
}
  
.accordion-label-ind1:hover ~ .accordion-label-ind1::after{
    fill: black;
}
/*Dont know why the above doesn't work but know reason is fill doesn't work at all*/

.accordion-label-ind1::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:white;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}
  
.accordion-content-ind1 {
    color: rgba(255,255,255,0.8);
    line-height: 1.6;
    font-size: 0.9em;
    display: none;
}

.accordion-content-ind1 a{
    color: rgba(255,255,255,0.8);
    line-height: 1.6;
    font-size: 1em;
    text-decoration: none;
}

.accordion-content-ind1 a:hover {
    color: black;
}

.accordion-input-ind1 {
    display: none;
}
  
.accordion-input-ind1:checked ~ .accordion-content-ind1 {
    display: block;
}
  
.accordion-input-ind1:checked ~ .accordion-label-ind1::after {
    transform: translateY(-50%) rotate(0.5turn);
}

/*ACCORDION 2*/

.accordion-ind2 {
    width: 470px;
    max-height: 200px;
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,1);
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    position: absolute;
    top: 1800px;
    left: 30px;
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

  
.accord-ind2{
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
}

.accordion-content-ind2 {
    padding: 14px 20px;
}
  
.accordion-label-ind2 {
    display: block;
    color: rgba(255,255,255,0.8);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 14px 20px;
    text-align: center;
}
  
.accordion-label-ind2:hover {
    background-color: rgba(255,255,255,0.8);
    color:black;
    transition: 0.4s;
}
  
.accordion-label-ind2:hover ~ .accordion-label-ind2::after{
    fill: black;
}
/*Dont know why the above doesn't work but know reason is fill doesn't work at all*/

.accordion-label-ind2::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:white;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}
  
.accordion-content-ind2 {
    display: none;
}

.accordion-content-ind2 img{
    height: 180px;
    width: 175px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
    border-radius: 8px;
    margin-left: 120px;
    margin-bottom: 30px;
}

.accordion-content-ind2 img:hover{
    filter: brightness(60%);
}

.accordion-content-ind2 a:hover {
    color: black;
}

.accordion-input-ind2 {
    display: none;
}
  
.accordion-input-ind2:checked ~ .accordion-content-ind2 {
    display: block;
}
  
.accordion-input-ind2:checked ~ .accordion-label-ind2::after {
    transform: translateY(-50%) rotate(0.5turn);
}

/*ACCORDION 3*/

.accordion-ind3 {
    width: 470px;
    max-height: 200px;
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,1);
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    position: absolute;
    top: 1800px;
    left: 1030px;
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

  
.accord-ind3{
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
}

.accordion-content-ind3 {
    padding: 14px 20px;
}
  
.accordion-label-ind3 {
    display: block;
    color: rgba(255,255,255,0.8);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 14px 20px;
    text-align: center;
}
  
.accordion-label-ind3:hover {
    background-color: rgba(255,255,255,0.8);
    color:black;
    transition: 0.4s;
}
  
.accordion-label-ind3:hover ~ .accordion-label-ind3::after{
    fill: black;
}
/*Dont know why the above doesn't work but know reason is fill doesn't work at all*/

.accordion-label-ind3::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:white;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}
  
.accordion-content-ind3 {
    color: rgba(255,255,255,0.8);
    line-height: 1.6;
    font-size: 0.9em;
    display: none;
    text-align: center;
}

.accordion-content-ind3 a{
    color: rgba(255,255,255,0.8);
    line-height: 1.6;
    font-size: 1em;
    text-decoration: none;
}

.accordion-content-ind3 a:hover {
    color: black;
}

.accordion-input-ind3 {
    display: none;
}
  
.accordion-input-ind3:checked ~ .accordion-content-ind3 {
    display: block;
}
  
.accordion-input-ind3:checked ~ .accordion-label-ind3::after {
    transform: translateY(-50%) rotate(0.5turn);
}

/*PROFILE.HTML*/

.cardText h1 {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: rgb(233, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
}

.cardText-ind h1 {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Concert One', cursive;
    font-size: 40px;
    color: rgb(233, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
}

h2 {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Concert One', cursive;
    font-size: 40px;
    color: rgb(233, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
}

.indhead{
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: rgb(233, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
    margin: 0;
}

.bio h2 {
    font-family: 'Special Elite', cursive;
    font-size: 33px;
    text-align: center;
    color: rgb(233, 233, 233); 
    text-shadow: 0px 3px 8px #2a2a2a;
}

.hobby h3 {
    font-family: 'Special Elite', cursive;
    font-size: 33px;
    text-align: center;
    color: rgb(233, 233, 233);  
    text-shadow: 0px 3px 8px #2a2a2a;
}

.info h4 {
    font-family: 'Special Elite', cursive;
    font-size: 33px;
    text-align: center;
    color: rgb(233, 233, 233);  
    text-shadow: 0px 3px 8px #2a2a2a;
}

.profpage {
    font-family: 'Concert One', cursive;
    font-size: 23px;
    position: relative; left: 450px;
    color:rgb(235, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
}


.nav ul {
    margin: 0px;
    padding: 0px; 
    list-style: none;
    position: fixed;
}

.nav ul li {
    float: bottom;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 40px;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    color: white;
    padding: 0px;
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,1);
    overflow: hidden;
}

.nav ul li a {
    text-decoration: none;
    display: block;
    color:white;
    opacity:0.8;
}

.nav ul li a:hover {
    background-color: white;
    color:black;
    transition: 0.4s;
}

.nav ul li ul li {
    display:none;
}

.nav ul li:hover ul li {
    display:block;
}

.list {
    font-family: 'Concert One', cursive;
    font-size: 23px;
    color:rgb(235, 233, 233);
    position: relative; left: 430px;
    text-shadow: 0px 3px 8px #2a2a2a;
}

.list li {
    padding-top: 1em;
}

.prof {
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
                  
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8.5%;
    border-radius: 8px;
    box-shadow:3px 3px 19px 1px rgb(0, 0, 0);
}

.me {
    border: none;
 	width: 20%;
	height: 50px;
	margin-top: 0;
	box-shadow: 0 20px 20px -20px #ffffff;
    margin: -50px auto 10px;
}

/*MOTIVATION.HTML*/

.motiv {
    background: url(bg4.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.motiv h1 {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 46px;
    color: rgb(233, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
}

.list hr {
    border: none;
    width: 20%;
    height: 50px;
    margin-top: 0;
    box-shadow: 0 20px 20px -20px #ffffff;
    margin: -50px;
}
  
.fullCard-mot {
    width: 748px;
    border-radius: 5px;
    margin: auto;
    padding: 4px;
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,1);
}

.cardContent-mot {
    padding: 10px;
}
.cardText-mot {
    line-height: 1.6;
    display: block;
    text-decoration: none;
    font-family: 'Concert One', cursive;
    font-size: 21px;
    color: rgb(233, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
    text-align: justify;
}

.dashcard-mot {
    border: none;
    height: 20px;
 	width: 60%;
	height: 50px;
	margin-top: 0;
	box-shadow: 0 20px 20px -20px #ffffff;
    margin: -55px auto 10px;
}

.resource {
    width: 470px;
    max-height: 200px;
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,1);
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    position: absolute;
    top: 2000px;
    left: 530px;
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*PROFESSION.HTML*/

.prof li {
    list-style: none;
}

.profText {
    margin: 0;
    padding-top: 5px;
}

#prof {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 46px;
    color: rgb(233, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
}

.profImages {
    width: 200px;
    height: 150px;
    position: relative;
    left: 36%;
    margin: 0;
    margin-top: 40px;
    border-radius: 5px;
}

.profImages:hover {
    opacity: 0.85;
}

.profHeadings {
    font-size: 30px;
    margin: 0;
    padding-top: 30px;
}



/*DASHBOARD.HTML*/

.dash {
    background: url(bg2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

#thumbnail {
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,1);
    transform: preserve-3d;
}
  
.fullCard {
    width: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    padding: 4px;
}

.cardContent {
    padding: 10px;
}
.cardText {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    color: rgb(233, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
}

.dashcard {
    border: none;
    height: 20px;
 	width: 60%;
	height: 50px;
	margin-top: 0;
	box-shadow: 0 20px 20px -20px #ffffff;
    margin: -55px auto 10px;
}

#cardAnimate{
    width: 25%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    perspective: 1000px;
}

.progressbar {
    position: relative;
}

.wrapper {
    position: absolute;
    left: 600px;
    top: 30px;
}

.meter {
    height: 23px;
    margin-bottom: 10px;
    border-radius: 25px;
    width: 310px;
    padding: 0px;
    box-shadow : inset 0px 0px 4px rgba(255, 255, 255, 1);
    overflow: hidden;
}
.meter span {
    display: block;
    height: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
    padding: 2px;
    padding-left: 9px;
    font-family: 'Concert One', cursive;
}

.nbsa{
    /*Stupid but works so not stupid but can be better*/
    width: 4px;
    height: 23px;
    background-color: white; /* make bg color black when boundary passed*/
    display: inline-block;
    position: absolute;
    top: 434px;
    left: 820px;
    font-family: 'Concert One', cursive;
}

#nbsa{
    color: white;
    font-family: 'Concert One', cursive;
    margin: 0;
    position: absolute;
    left: 808px;
    top: 460px;
}

table {
    border-collapse: collapse; 
    margin: 50px auto;
    margin-bottom: 30px;
    table-layout: fixed;
    box-shadow: 0px 0px 6px 2px rgba(255,255,255,1);
    border-radius: 5px;
    overflow:hidden;
}

table th {
    text-align: center;
    padding: 15px;
    padding-bottom: 13px;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
    font-family: 'Special Elite', cursive;
    font: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 3px 8px #2a2a2a;
}

table td{
    padding: 10px;
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
    font-family: 'Concert One', cursive;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 3px 3px 8px #000000;
}

table tr{
    color:#FFFFFF;
    text-align:center;  
}

.dots{
    text-align:center;
}

.dot {
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 0;
    font-family: 'Concert One', cursive;
    color: white;
    text-shadow: 0px 1px 17px black;
    width: 80px;
    height: 20px;
    box-shadow: 0px 0px 3px 2px rgba(255,255,255,0.8);
  }

#dot1{
    background: linear-gradient(90deg, white, black)
}

#dot2{
    background-color: white;
    color: black;
}


.navguide ul { 
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 40px;
    list-style: none;
    position: relative;
    left: 420px;
}

.navguide ul li {
    position: static;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-family: 'Concert One', cursive;
    color: white;
    padding: 0px;
    box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
    overflow: hidden;
}

.navguide ul li a {
    text-decoration: none;
    display: block;
    color:white;
    opacity: 0.8;
}

.navguide ul li a:hover {
    background-color: white;
    color:black;
    transition: 0.4s;
}

/*FAQ.HTML*/

.faqq {
    background: url(bg3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.faqhead {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    font-size: 60px;
    color: rgb(233, 233, 233);
    text-shadow: 0px 3px 8px #2a2a2a;
    padding-bottom: 0;
    margin: 0px;
}

.accordion {
    max-width: 800px;
    box-shadow: 0px 0px 19px 1px rgba(255,255,255,1);
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    position: relative;
    top: 160px;
    left: 370px;
  }
  
.accord{
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
}

.accordion-content {
    padding: 14px 20px;
  }
  
.accordion-label {
    display: block;
    color: rgba(255,255,255,0.8);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 14px 20px;
  }
  
.accordion-label:hover {
    background-color: rgba(255,255,255,0.8);
    color:black;
    transition: 0.4s;
  }
  
.accordion-label:hover ~ .accordion-label::after{
    fill: black;
}
/*Dont know why the above doesn't work but know reason is fill doesn't work at all*/

.accordion-label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:white;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}
  
.accordion-content {
    color: rgba(255,255,255,0.8);
    line-height: 1.6;
    font-size: 0.9em;
    display: none;
  }
  
.accordion-input {
    display: none;
}
  
.accordion-input:checked ~ .accordion-content {
    display: block;
}
  
.accordion-input:checked ~ .accordion-label::after {
    transform: translateY(-50%) rotate(0.5turn);
}

.links {
    color: rgba(255,255,255,0.8);
    line-height: 1.6;
    font-size: 1em;
}

